* {
    margin: auto;
}
body {
    margin-top: 20px;
}
body header {
    height: 70px;
    width: 500px;
    background: darkolivegreen;
}
body sidebar {
    float: left;
    width: 160px;
    height: 440px;
    margin-left: 423px;
    background: pink;
}
body section {
    background: darkgreen;
    height: 440px;
    width: 450px;
    margin-right: 422px;
}
body footer {
    height: 70px;
    width: 500px;
    background: darkblue;
}
body p {
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
body sidebar ul li {
    list-style-type: none;
    margin-top: 5px;
}
body sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    background:#DC143C;
}